/* GLOBAL */
body {
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    font-family: Arial, sans-serif;
    background-color: whitesmoke;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #065327;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 0;
    margin: 0;
}

.nav-links a {
    text-decoration: none;
    color: #f3f3f3;
    font-weight: 500;
}

.nav-links a:hover {
    color:green;
}

/* HERO */
.hero {
    background-image: linear-gradient(
        rgba(0,0,0,0.45),
        rgba(0,0,0,0.45)
    ), url("images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 90vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.hero button {
    background: #065327;
    padding: 14px 32px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.hero button:hover {
    background: lightgreen;
}

/* GRID */
.places-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 50px;
}

.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card h3 {
    padding: 15px;
}

/* MAP */
.map-section {
    padding: 60px;
    text-align: center;
    background: #d9d8df;
}

.map-section h2 {
    color: #006400;
}

/* CONTENT SECTIONS */
.section {
    padding: 80px 50px;
    text-align: center;
}

/* FOOTER */
footer {
    background:  #065327;
    color: white;
    text-align: center;
    padding: 15px;
}



/* RESPONSIVE */
@media (max-width: 900px) {
    .places-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 768px) {

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image img {
        width: 220px;
    }
}

}

@media (max-width: 600px) {
    .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
    box-sizing: border-box;
}


    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .places-grid {
        grid-template-columns: 1fr;
        padding: 20px;
    }

    .hero h1 {
        font-size: 36px;
    }
}

/* CUSTOM DROPDOWN */
.custom-dropdown {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}

.custom-dropdown button {
    padding: 12px 20px;
    font-size: 16px;
    background: #006400;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: white;
    width: 260px;
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    overflow: hidden;
    z-index: 2000;
}

.dropdown-menu div {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu div:hover {
    background: #f0f0f0;
}

.dropdown-menu img {
    width: 50px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
}


/* ABOUT PAGE */
.about-section {
    padding: 80px 40px;
}

.about-container {
    display: flex;
    gap: 40px;
    align-items: center;
    max-width: 1100px;
    margin: auto;
}

.about-image img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.about-text h1 {
    color: #006400;
    margin-bottom: 10px;
}

.about-text h2 {
    margin-top: 20px;
    color: #333;
}

.about-text p {
    margin-top: 10px;
    line-height: 1.6;
}

